.employee-list{
    background: #fff;
    box-shadow: rgba(0,0,0,0.3) 0px 3px 8px;

    table{
        th{
            background: #600FB2;
            color: #fff;
            text-align: center;
            border-bottom: none;
        }
        td{
            text-align: center;

            mat-icon{
                margin-left: 8px;
                font-size: 23px;
                cursor: pointer;
            }
        }
    }
}
[type=search].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
}
